.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin: 10px; 
	font-size: 1.5rem;
	display: flex;
	font-weight: bold;
}

.logo .icon {
	margin-right: 10px;
}

.selectContainer {
	display: flex;
}

.items {
	display: flex;
	margin: 0 10px;
}